<footer class="footer">
  <div class="news-ticker">
    <p id="news-ticket-text">

    BUILDING NEW REALITIES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     CONSTRUINDO NOVAS REALIDADES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     BUILDING NEW REALITIES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     CONSTRUINDO NOVAS REALIDADES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     BUILDING NEW REALITIES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     CONSTRUINDO NOVAS REALIDADES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     BUILDING NEW REALITIES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     CONSTRUINDO NOVAS REALIDADES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     BUILDING NEW REALITIES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     CONSTRUINDO NOVAS REALIDADES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     BUILDING NEW REALITIES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     CONSTRUINDO NOVAS REALIDADES
    <%= image_tag 'estrela.svg', style:'height: 30px; margin: 0px 10px' %>
     BUILDING NEW REALITIES

    <%# SONHORAMA is a production and consultancy studio specialized in building projects, narratives and aesthetics universes that orbits around arts, music, audiovisual, literature, courses and games.
    SONHORAMA is a production and consultancy studio specialized in building projects, narratives and aesthetics universes that orbits around arts, music, audiovisual, literature, courses and games.
    SONHORAMA is a production and consultancy studio specialized in building projects, narratives and aesthetics universes that orbits around arts, music, audiovisual, literature, courses and games. %>
    </p>
  </div>
</footer>
