<footer class="footer">

  <div class="news-ticker">

    <div class="message-container">
      <p class="ticker-content">
        BUILDING NEW REALITIES <%= image_tag 'estrela.svg', class:'ticker-star' %> CONSTRUINDO NOVAS REALIDADES <%= image_tag 'estrela.svg', class:'ticker-star' %>
        BUILDING NEW REALITIES <%= image_tag 'estrela.svg', class:'ticker-star' %> CONSTRUINDO NOVAS REALIDADES <%= image_tag 'estrela.svg', class:'ticker-star' %>
      </p>
    </div>

    <div class="message-container">
      <p class="ticker-content">
        BUILDING NEW REALITIES <%= image_tag 'estrela.svg', class:'ticker-star' %> CONSTRUINDO NOVAS REALIDADES <%= image_tag 'estrela.svg', class:'ticker-star' %>
        BUILDING NEW REALITIES <%= image_tag 'estrela.svg', class:'ticker-star' %> CONSTRUINDO NOVAS REALIDADES <%= image_tag 'estrela.svg', class:'ticker-star' %>
      </p>
    </div>

  </div>

</footer>
