<div class="containershow">


  <% if @project.banner.attached? %>
   <%= cl_image_tag @project.banner, class:'about-cover' %>
  <% end %>

  <div class="row my-3">

    <div class="col-md-6">
      <h1><%= @project.title %></h1>
    </div>

    <div class="col-md-6 project-description">
      <p><%= @project.description %></p>
      <p class="project-details">cliente: <%= @project.client %></p>
      <p class="project-details">ano: <%= @project.date %></p>
      <p class="project-details">colaboradores: <%= @project.collaborators %></p>
    </div>

  </div>

  <div class="project-images-container">
    <% (1..10).each do |row_number| %>
      <% images_in_row = @project.detail_images.select { |img| img.metadata['row'].to_i == row_number } %>
      <% next if images_in_row.empty? %>

      <div class="project-images" style="grid-template-columns: repeat(<%= images_in_row.count %>, 1fr)">
        <% images_in_row.each do |image| %>
          <div>
            <%= cl_image_tag image, class: "project-image" %>
          </div>
        <% end %>
      </div>

    <% end %>

    <% if (user_signed_in?) %>
      <%= link_to "edit", edit_project_path(@project), class:'btn btn-primary'%>
    <% end %>
  </div>


</div>
