<div class="containershow">

  <%# <% if @project.thumbnail.attached? %>
    <%# <div class="banner" style="width: 100%; height: 250px; background-image: url(<%= url_for(@project.thumbnail) %>); background-size: cover; background-position: center;"> %>
    <%# </div> %>
  <%# <% end %>

  <% if @project.thumbnail.attached? %>
   <%= image_tag @project.thumbnail, class:'project-banner' %>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <h1><%= @project.title %></h1>
    </div>

    <div class="col-md-6 project-description">
      <p><%= @project.description %></p>
      <%# <div>
        <p><strong>Callout:</strong> <%= @project.callout %></p>
        <%# <p><strong>Collaborators:</strong> <%= @project.collaborators %></p>
        <%# <p><strong>Client:</strong> <%= @project.client %></p>
        <%# <p><strong>Date:</strong> <%= @project.date %></p>
      <%# </div> %>
      <p class="project-details">cliente: <%= @project.client %></p>
      <p class="project-details">ano: <%= @project.date %></p>
      <p class="project-details">colaboradores: <%= @project.collaborators %></p>
    </div>
  </div>

  <div class="project-images-container">
    <% (1..10).each do |row_number| %>
      <% images_in_row = @project.detail_images.select { |img| img.metadata['row'].to_i == row_number } %>
      <% next if images_in_row.empty? %>

      <div class="project-images" style="grid-template-columns: repeat(<%= images_in_row.count %>, 1fr)">
        <% images_in_row.each do |image| %>
          <div>
            <%= image_tag image, class: "project-image" %>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>

</div>
