<div class="containershow">

  <div class="project-banner">

    <% if @project.banner.attached? %>
    <%# <%= cl_image_tag @project.banner.key, class:'about-cover' %>
      <% if @project.banner.attached? %>
        <% if @project.banner.content_type.start_with?('image') %>
          <%= cl_image_tag @project.banner.key, class:'about-cover'%>
        <% elsif @project.banner.content_type.start_with?('video') %>
          <%= cl_video_tag(@project.banner.key, loop: true, autoplay: true, muted: true, class:'about-cover') %>
        <% end %>
      <% else %>
        <!-- Render a default image or video -->
      <% end %>
    <% end %>

  </div>

  <div class="row my-3">

    <div class="col-4 project-title">
      <h1><%= @project.title %></h1>
      <%# <% if @project.subheading %>
        <%# <h1><%= @project.subheading</h1>  %>
      <%# <% end %>
    </div>

    <div class="col-8 project-description">
      <%= @project.content %>

      <div class="project-credits" data-controller="credits">

        <div class="credits-plus" data-action="click->credits#show">
          <p data-credits-target="credits"><strong>Credits +</strong></p>
          <div data-credits-target="content" class="project-credit-content">
            <%= @project.credit%>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="project-images-container">
    <% (1..15).each do |row_number| %>
      <% images_in_row = @project.detail_images.select { |img| img.metadata['row'].to_i == row_number } %>
      <% next if images_in_row.empty? %>

      <div class="project-images" style="grid-template-columns: repeat(<%= images_in_row.count %>, 1fr)">
        <% images_in_row.each do |image| %>
          <div>
            <%= cl_image_tag image.key, class: "project-image" %>
          </div>
        <% end %>
      </div>

    <% end %>

    <% if (user_signed_in?) %>
      <%= link_to "edit", edit_project_path(@project), class:'btn btn-primary'%>
      <%= link_to "delete", project_path(@project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:'btn btn-secondary' %>
    <% end %>

    <div class="show-final-credits">
      <p><%= @project.client %></p>
      <p><%= @project.tags.map(&:name).join(', ') %></p>
      <% if @project.date.present? %>
        <p><%= @project.date.year %></p>
      <% end %>
    </div>
  </div>


</div>
