<!DOCTYPE html>
<html>
  <head>
    <title>Sonhorama</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'trix' %>
    <%= stylesheet_link_tag 'trix' %>
    <%= favicon_link_tag "favicon-sonhorama.png", rel: "icon", type: "image/png" %>
  </head>



  <body>
    <%# <%= render 'shared/navbar'%>
    <%= render partial: "shared/navbar" if current_page?(root_path) %>
    <%= render partial: "shared/navbar_home" unless current_page?(root_path) %>

    <%= yield %>

    <%= render 'shared/footer2' %>
    <%= render "shared/flashes" %>

  </body>


</html>
